<h1>Name Entry</h1>
<form action="/contact_submitted">
<input name="first_name" type="text" placeholder="Enter First Name">
<input name="last_name" type="text" placeholder="Enter Last Name">
<input type="submit">
</form>